src/main/app/root.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="rooot-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="rooot-config" raml="rooot.raml" consoleEnabled="false" doc:name="Router" keepRamlBaseUri="false"/>
    <http:request-config name="HTTP_Request_Configuration_police" host="springpolice-env.4nmduqansj.us-east-2.elasticbeanstalk.com" port="80" doc:name="HTTP Request Configuration"/>
    <flow name="rooot-main">
        <http:listener config-ref="rooot-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="rooot-config" doc:name="APIkit Router"/>
        <exception-strategy ref="rooot-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="rooot-console">
        <http:listener config-ref="rooot-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="rooot-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="delete:/city/hospital/patient/{id}:rooot-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="delete:/city/police/criminal/{id}:rooot-config">
        <http:listener config-ref="rooot-httpListenerConfig" path="/criminals/delete/{id}" doc:name="HTTP"/>
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
        <set-session-variable variableName="id" value="#[message.inboundProperties.'http.uri.params'.id]" doc:name="Session Variable"/>
        <http:request config-ref="HTTP_Request_Configuration_police" path="/criminals/delete/#[sessionVars.id]" method="DELETE" doc:name="HTTP"/>
    </flow>
    <flow name="delete:/city/hospital/worker/{id}:rooot-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="delete:/city/police/worker/{id}:rooot-config">
        <http:listener config-ref="rooot-httpListenerConfig" path="/workers/delete/{id}" doc:name="HTTP"/>
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
        <set-session-variable variableName="id" value="#[message.inboundProperties.'http.uri.params'.id]" doc:name="Session Variable"/>
        <http:request config-ref="HTTP_Request_Configuration_police" path="/workers/delete/#[sessionVars.id]" method="DELETE" doc:name="HTTP"/>
    </flow>
    <flow name="delete:/city/integration/person/{name}:rooot-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/city/employmentagency/available:rooot-config">
        <set-payload value="{&#xA;&quot;company&quot; : &quot;Not Assigned&quot;,&#xA;&quot;name&quot; : &quot;Stephen Weinhart&quot;,&#xA;&quot;phone&quot; : &quot;123-456-7890&quot;,&#xA;&quot;skill&quot; : &quot;electrical&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/city/employmentagency/available/{id}:rooot-config">
        <set-payload value="{&#xA;&quot;name&quot; : &quot;Stephen Weinhart&quot;,&#xA;&quot;ss&quot; : &quot;123-45-6789&quot;,&#xA;&quot;email&quot; : &quot;steve@test.net&quot;,&#xA;&quot;company&quot; : &quot;Unemployed&quot;,&#xA;&quot;phone&quot; : &quot;123-456-7890&quot;,&#xA;&quot;skill&quot; : &quot;electrical&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/city/employmentagency/clients:rooot-config">
        <set-payload value="{&#xA;&quot;name&quot; : &quot;Revature Dodge&quot;,&#xA;&quot;phone&quot; : &quot;123-456-7890&quot;,&#xA;&quot;email&quot; : &quot;test@revature.dodge.com&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/city/employmentagency/clients/{name}:rooot-config">
        <set-payload value="{&#xA;&quot;name&quot; : &quot;Revature Dodge&quot;,&#xA;&quot;phone&quot; : &quot;123-456-7890&quot;,&#xA;&quot;email&quot; : &quot;test@revature.dodge.com&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/city/employmentagency/clients/{name}/employees:rooot-config">
        <set-payload value="{&#xA;&quot;name&quot; : &quot;Stephen Weinhart&quot;,&#xA;&quot;phone&quot; : &quot;123-456-7890&quot;,&#xA;&quot;email&quot; : &quot;steve@test.net&quot;,&#xA;&quot;skill&quot; : &quot;electrical&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/city/police/criminal:rooot-config">
        <http:listener config-ref="rooot-httpListenerConfig" path="/criminals" doc:name="HTTP"/>
        <http:request config-ref="HTTP_Request_Configuration_police" path="/criminals" method="GET" doc:name="HTTP"/>
        <logger message="#[message.payloadAs(java.lang.String)] " level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="get:/city/hospital/patient:rooot-config">
        <set-payload value="[&#xA;    {&#xA;        &quot;id&quot;: &quot;0034P00002SkogHQAR&quot;,&#xA;        &quot;first&quot;: &quot;Mort&quot;,&#xA;        &quot;last&quot;: &quot;Deadman&quot;,&#xA;        &quot;email&quot;: &quot;cancerpatient@thedead.com&quot;,&#xA;        &quot;phone&quot;: &quot;(777) 123 - 8977&quot;,&#xA;        &quot;birthdate&quot;: &quot;1994-11-08T00:00:00.000+0000&quot;,&#xA;        &quot;accountid&quot;: &quot;0014P000025vEztQAE&quot;&#xA;    },&#xA;    {&#xA;        &quot;id&quot;: &quot;0034P00002SkogMQAR&quot;,&#xA;        &quot;first&quot;: &quot;Zed&quot;,&#xA;        &quot;last&quot;: &quot;PimplePopper&quot;,&#xA;        &quot;email&quot;: &quot;hypochondriac@short.com&quot;,&#xA;        &quot;phone&quot;: &quot;(811) 456 - 7771&quot;,&#xA;        &quot;birthdate&quot;: &quot;1998-11-08T00:00:00.000+0000&quot;,&#xA;        &quot;accountid&quot;: &quot;0014P000025vEztQAE&quot;&#xA;    }&#xA;]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/city/hospital/worker:rooot-config">
        <set-payload value="[&#xA;    {&#xA;        &quot;id&quot;: &quot;0034P00002Skoe1QAB&quot;,&#xA;        &quot;first&quot;: &quot;Robin&quot;,&#xA;        &quot;last&quot;: &quot;James&quot;,&#xA;        &quot;email&quot;: &quot;jerk@uncoolpeople.com&quot;,&#xA;        &quot;phone&quot;: &quot;(385) 888 - 9000&quot;,&#xA;        &quot;birthdate&quot;: &quot;1990-01-19T00:00:00.000+0000&quot;,&#xA;        &quot;accountid&quot;: &quot;0014P000025vEy2QAE&quot;&#xA;    },&#xA;    {&#xA;        &quot;id&quot;: &quot;0034P00002SlTRdQAN&quot;,&#xA;        &quot;first&quot;: &quot;Doug&quot;,&#xA;        &quot;last&quot;: &quot;Krabbe&quot;,&#xA;        &quot;email&quot;: &quot;somebody@earthlink.com&quot;,&#xA;        &quot;phone&quot;: &quot;(100) 744 - 1234&quot;,&#xA;        &quot;birthdate&quot;: &quot;1997-12-05T00:00:00.000+0000&quot;,&#xA;        &quot;accountid&quot;: &quot;0014P000025vEy2QAE&quot;&#xA;    }&#xA;]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/city/police/worker:rooot-config">
        <http:listener config-ref="rooot-httpListenerConfig" path="/workers" doc:name="HTTP"/>
        <http:request config-ref="HTTP_Request_Configuration_police" path="/workers" method="GET" doc:name="HTTP"/>
        <logger message="#[message.payloadAs(java.lang.String)] " level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="get:/city/police/worker/{id}:rooot-config">
        <http:listener config-ref="rooot-httpListenerConfig" path="/workers/{id}" doc:name="HTTP"/>
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
        <set-session-variable variableName="id" value="#[message.inboundProperties.'http.uri.params'.id]" doc:name="Session Variable"/>
        <http:request config-ref="HTTP_Request_Configuration_police" path="workers/get/#[sessionVars.id]" method="GET" doc:name="HTTP">
        </http:request>
    </flow>
    <flow name="get:/city/hospital/patient/{id}:rooot-config">
        <set-payload value="{&#xA;    &quot;id&quot;: &quot;0034P00002SkogMQAR&quot;,&#xA;    &quot;first&quot;: &quot;Zed&quot;,&#xA;    &quot;last&quot;: &quot;PimplePopper&quot;,&#xA;    &quot;email&quot;: &quot;hypochondriac@short.com&quot;,&#xA;    &quot;phone&quot;: &quot;(811) 456 - 7771&quot;,&#xA;    &quot;birthdate&quot;: &quot;1998-11-08T00:00:00.000+0000&quot;,&#xA;    &quot;accountid&quot;: &quot;0014P000025vEztQAE&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/city/police/criminal/{id}:rooot-config">
        <http:listener config-ref="rooot-httpListenerConfig" path="/criminals/{id}" doc:name="HTTP"/>
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
        <set-session-variable variableName="id" value="#[message.inboundProperties.'http.uri.params'.id]" doc:name="Session Variable"/>
        <http:request config-ref="HTTP_Request_Configuration_police" path="criminals/get/#[sessionVars.id]" method="GET" doc:name="HTTP"/>
    </flow>
    <flow name="get:/city/hospital/worker/{id}:rooot-config">
        <set-payload value="{&#xA;    &quot;id&quot;: &quot;0034P00002SlTRdQAN&quot;,&#xA;    &quot;first&quot;: &quot;Doug&quot;,&#xA;    &quot;last&quot;: &quot;Krabbe&quot;,&#xA;    &quot;email&quot;: &quot;somebody@earthlink.com&quot;,&#xA;    &quot;phone&quot;: &quot;(100) 744 - 1234&quot;,&#xA;    &quot;birthdate&quot;: &quot;1997-12-05T00:00:00.000+0000&quot;,&#xA;    &quot;accountid&quot;: &quot;0014P000025vEy2QAE&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/city/integration/person/{name}:rooot-config">
        <set-payload value="{&#xA;  &quot;police&quot;:{&#xA;    &quot;name&quot;: &quot;Joe Schmoe&quot;,&#xA;    &quot;id&quot;: &quot;P1&quot;&#xA;  }&#xA;  &quot;hospital&quot;: {&#xA;    &quot;name&quot;: &quot;Joe Schmoe&quot;,&#xA;    &quot;id&quot;: &quot;0034P00002SkogHQAR&quot;&#xA;  }&#xA;  &quot;employmentagency&quot;: {&#xA;    &quot;name&quot;: &quot;Joe Schmoe&quot;,&#xA;  },&#xA;  &quot;factory&quot;: null,&#xA;  &quot;backgroundchecks&quot;: null&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/city/employmentagency/clients/apply:rooot-config">
        <set-payload value="New Client Added" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/city/employmentagency/clients/{name}/hire/{id}:rooot-config">
        <set-payload value="Revature has successfully hired Steve Weinhart" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/city/employmentagency/clients/{name}/release/{id}:rooot-config">
        <set-payload value="Revature has successfully released Steve Weinhart" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/city/police/criminal:rooot-config">
        <http:listener config-ref="rooot-httpListenerConfig" path="/criminals/post" doc:name="HTTP"/>
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <object-to-string-transformer returnClass="java.lang.String" doc:name="Object to String"/>
        <http:request config-ref="HTTP_Request_Configuration_police" path="/criminals/post" method="POST" doc:name="HTTP"/>
        <set-payload value="{
&quot;message&quot;: &quot;Criminal inserted&quot;
}" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/city/hospital/patient:rooot-config">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="{&#xA;  &quot;id&quot;: &quot;0034P00002SkojfQAB&quot;,&#xA;  &quot;first&quot;: &quot;Johnny&quot;,&#xA;  &quot;last&quot;: &quot;Tongue-in-Socket&quot;,&#xA;  &quot;email&quot;: &quot;electrocution@wallsocket.com&quot;,&#xA;  &quot;phone&quot;: &quot;(765) 122 - 4733&quot;,&#xA;  &quot;birthdate&quot;: &quot;1994-08-29T00:00:00.000+0000&quot;,&#xA;  &quot;accountid&quot;: &quot;0014P000025vEztQAE&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/city/integration/person:rooot-config">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="{&#xA;  &quot;message&quot;:&quot;inserted&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/city/police/worker:rooot-config">
        <http:listener config-ref="rooot-httpListenerConfig" path="/workers/post" doc:name="HTTP"/>
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <object-to-string-transformer returnClass="java.lang.String" doc:name="Object to String"/>
        <http:request config-ref="HTTP_Request_Configuration_police" path="/workers/post" method="POST" doc:name="HTTP"/>
        <set-payload value="{&#xA;&quot;message&quot;: &quot;Worker inserted&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/city/hospital/worker:rooot-config">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="{&#xA;    &quot;id&quot;: &quot;0034P00002SlTRdQAN&quot;,&#xA;    &quot;first&quot;: &quot;Doug&quot;,&#xA;    &quot;last&quot;: &quot;Krabbe&quot;,&#xA;    &quot;email&quot;: &quot;somebody@earthlink.com&quot;,&#xA;    &quot;phone&quot;: &quot;(100) 744 - 1234&quot;,&#xA;    &quot;birthdate&quot;: &quot;1997-12-05T00:00:00.000+0000&quot;,&#xA;    &quot;accountid&quot;: &quot;0014P000025vEy2QAE&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="rooot-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
