src/main/app/root.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc"
	xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<http:listener-config name="root-httpListenerConfig"
		host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration" />
	<apikit:config name="root-config" raml="root.raml"
		consoleEnabled="false" doc:name="Router" keepRamlBaseUri="false" />
	<http:request-config name="Employment_Agency_AWS_Request_Configuration"
		host="Employmentagencyapi-env.aq8mftptbr.us-east-2.elasticbeanstalk.com"
		port="80" basePath="/EmploymentAgencyAPI" doc:name="Employment_Agency_AWS_Request_Configuration" />
	<http:request-config name="Hospital_AWS_Request_Configuration"
		host="hospital-env.4cka8cwsmb.us-east-2.elasticbeanstalk.com" port="80"
		basePath="/" doc:name="Hospital_AWS_Request_Configuration" />
	<http:request-config name="HTTP_Request_Configuration_police"
		host="springpolice-env.4nmduqansj.us-east-2.elasticbeanstalk.com"
		port="80" basePath="/" doc:name="HTTP_Request_Configuration_police" />
	<sfdc:config name="Salesforce__Basic_Authentication_josh"
		username="dwatson1995@gmail.com" password="Doe4Deer" securityToken="vH1CqM5dpz2y9Hd6SuK7eIPF"
		doc:name="Salesforce: Basic Authentication" url="https://login.salesforce.com/services/Soap/u/41.0" />
	<sfdc:config name="Salesforce__Basic_Authentication_john"
		username="silver_rapter@yahoo.com" password="Dawnwar0"
		securityToken="imebO7ODJTv7Hq3Qh9KhbN6gK" url="https://login.salesforce.com/services/Soap/u/41.0"
		doc:name="Salesforce: Basic Authentication" />
	<flow name="root-main">
		<http:listener config-ref="root-httpListenerConfig"
			path="/api/*" doc:name="HTTP" />
		<apikit:router config-ref="root-config" doc:name="APIkit Router" />
		<exception-strategy ref="root-apiKitGlobalExceptionMapping"
			doc:name="Reference Exception Strategy" />
	</flow>
	<flow name="root-console">
		<http:listener config-ref="root-httpListenerConfig"
			path="/console/*" doc:name="HTTP" />
		<apikit:console config-ref="root-config" doc:name="APIkit Console" />
	</flow>
	<flow name="delete:/city/hospital/worker/{id}:root-config">
		<http:request config-ref="Hospital_AWS_Request_Configuration"
			path="/contacts/{id}" method="DELETE" doc:name="HTTP">
			<http:request-builder>
				<http:uri-param paramName="id"
					value="#[message.inboundProperties.'http.uri.params'.id]" />
			</http:request-builder>
		</http:request>
	</flow>
	<flow name="delete:/city/hospital/patient/{id}:root-config">
		<http:request config-ref="Hospital_AWS_Request_Configuration"
			path="contacts/{id}" method="DELETE" doc:name="HTTP">
			<http:request-builder>
				<http:uri-param paramName="id" value="#[flowVars.id]" />
			</http:request-builder>
		</http:request>
	</flow>
	<flow name="delete:/city/police/criminal/{id}:root-config">

		<set-payload value="#[NullPayload.getInstance()]"
			doc:name="Set Payload" />
		<set-session-variable variableName="id"
			value="#[message.inboundProperties.'http.uri.params'.id]" doc:name="Session Variable" />
		<http:request config-ref="HTTP_Request_Configuration_police"
			path="/criminals/delete/#[sessionVars.id]" method="DELETE" doc:name="HTTP" />
	</flow>
	<flow name="delete:/city/police/worker/{id}:root-config">

		<set-payload value="#[NullPayload.getInstance()]"
			doc:name="Set Payload" />
		<set-session-variable variableName="id"
			value="#[message.inboundProperties.'http.uri.params'.id]" doc:name="Session Variable" />
		<http:request config-ref="HTTP_Request_Configuration_police"
			path="/workers/delete/#[sessionVars.id]" method="DELETE" doc:name="HTTP" />
	</flow>
	<flow name="rootSub_Flow_delete_criminal">
        <logger message="rootSub_Flow_delete_criminal" level="INFO" doc:name="Logger"/>
		<http:request config-ref="HTTP_Request_Configuration_police"
			path="/criminals" method="GET" doc:name="HTTP" />
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
		<json:json-to-object-transformer
			doc:name="JSON to Object" />
        <logger message="#[sessionVars.fullname]" level="INFO" doc:name="Logger"/>
		<component class="cityofrevature.NametoIdHelper" doc:name="Java" />
		<set-session-variable variableName="id" value="#[payload]"
			doc:name="Session Variable" />
        <logger message="#[sessionVars.id]" level="INFO" doc:name="Logger"/>
		<http:request config-ref="HTTP_Request_Configuration_police"
			path="/criminals/delete/{id}" method="DELETE" doc:name="HTTP" >
            <http:request-builder>
                <http:uri-param paramName="id" value="#[sessionVars.id]"/>
            </http:request-builder>
        </http:request>
		<catch-exception-strategy doc:name="Catch Exception Strategy">
			<set-payload value="#[{}]" mimeType="application/json"
				doc:name="Set Payload" />
			<flow-ref name="rootSub_Flow_delete_police_worker" doc:name="Flow Reference" />
			<flow-ref name="rootSub_Flow_delete_factory_contact"
				doc:name="Flow Reference" />
		</catch-exception-strategy>
	</flow>
	<flow name="rootSub_Flow_delete_police_worker">
        <logger message="rootSub_Flow_delete_police_worker" level="INFO" doc:name="Logger"/>
		<http:request config-ref="HTTP_Request_Configuration_police"
			path="/workers" method="GET" doc:name="HTTP" />
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
		<json:json-to-object-transformer
			doc:name="JSON to Object" />
        <logger message="#[sessionVars.fullname]" level="INFO" doc:name="Logger"/>
		<component class="cityofrevature.NametoIdHelper" doc:name="Java" />
		<set-session-variable variableName="id" value="#[payload]"
			doc:name="Session Variable" />
        <logger message="#[sessionVars.id]" level="INFO" doc:name="Logger"/>
		<http:request config-ref="HTTP_Request_Configuration_police"
			path="/workers/delete/{id}" method="DELETE" doc:name="HTTP" >
            <http:request-builder>
                <http:uri-param paramName="id" value="#[sessionVars.id]"/>
            </http:request-builder>
        </http:request>
		<catch-exception-strategy doc:name="Catch Exception Strategy">
			<set-payload value="#[{}]" mimeType="application/json"
				doc:name="Set Payload" />
			<flow-ref name="rootSub_Flow_delete_factory_contact"
				doc:name="Flow Reference" />
		</catch-exception-strategy>
	</flow>
	<flow name="rootSub_Flow_delete_factory_contact">
		<sfdc:query config-ref="Salesforce__Basic_Authentication_john"
			query="dsql:SELECT Id FROM Contact WHERE FirstName = '#[sessionVars.first]' AND LastName = '#[sessionVars.last]'"
			doc:name="Salesforce" />
		<component class="cityofrevature.SalesforceHelper" doc:name="Java" />
		<component class="cityofrevature.IdHelper" doc:name="Java" />
		<sfdc:delete config-ref="Salesforce__Basic_Authentication_john"
			doc:name="Salesforce">
			<sfdc:ids ref="#[payload]" />
		</sfdc:delete>
	</flow>
	<flow name="delete:/city/integration/person/{name}:root-config">
		<set-payload value="#[NullPayload.getInstance()]"
			doc:name="Set Payload" />
		<set-variable variableName="name"
			value="#[message.inboundProperties.'http.uri.params'.name]" doc:name="Variable" />
		<component class="cityofrevature.SessionVarSplitHelper"
			doc:name="Java" />
		<sfdc:query config-ref="Salesforce__Basic_Authentication_josh"
			query="dsql:SELECT Id FROM Contact WHERE FirstName = '#[sessionVars.first]' AND LastName = '#[sessionVars.last]'"
			doc:name="Salesforce" />
		<component class="cityofrevature.SalesforceHelper" doc:name="Java" />
		<component class="cityofrevature.IdHelper" doc:name="Java" />
		<sfdc:delete config-ref="Salesforce__Basic_Authentication_josh"
			doc:name="Salesforce">
			<sfdc:ids ref="#[payload]" />
		</sfdc:delete>
		<set-payload value="#[{}]" mimeType="application/json"
			doc:name="Set Payload" />
		<flow-ref name="rootSub_Flow_delete_criminal" doc:name="Flow Reference" />
		<flow-ref name="rootSub_Flow_delete_police_worker" doc:name="Flow Reference" />
		<flow-ref name="rootSub_Flow_delete_factory_contact"
			doc:name="Flow Reference" />
		<catch-exception-strategy doc:name="Catch Exception Strategy">
			<set-payload value="#[{}]" mimeType="application/json"
				doc:name="Set Payload" />
			<flow-ref name="rootSub_Flow_delete_criminal" doc:name="Flow Reference" />
			<flow-ref name="rootSub_Flow_delete_police_worker" doc:name="Flow Reference" />
			<flow-ref name="rootSub_Flow_delete_factory_contact"
				doc:name="Flow Reference" />
		</catch-exception-strategy>
	</flow>
	<flow name="get:/city/employmentagency/available:root-config">
		<http:request config-ref="Employment_Agency_AWS_Request_Configuration"
			path="/available" method="GET" doc:name="HTTP" />
	</flow>
	<flow name="get:/city/employmentagency/available/{id}:root-config">

		<http:request config-ref="Employment_Agency_AWS_Request_Configuration"
			path="/available/{id}" method="GET" doc:name="HTTP" >
            <http:request-builder>
                <http:query-param paramName="username" value="#[message.inboundProperties.'http.query.params'.username]"/>
                <http:query-param paramName="password" value="#[message.inboundProperties.'http.query.params'.password]"/>
                <http:uri-param paramName="id" value="#[message.inboundProperties.'http.uri.params'.id]"/>
            </http:request-builder>
        </http:request>
	</flow>
	<flow name="get:/city/employmentagency/clients:root-config">

		<http:request config-ref="Employment_Agency_AWS_Request_Configuration"
			path="/clients" method="GET" doc:name="HTTP" />
	</flow>
	<flow name="get:/city/employmentagency/clients/{name}:root-config">

		<http:request config-ref="Employment_Agency_AWS_Request_Configuration"
			path="/clients/{name}" method="GET" doc:name="HTTP" >
            <http:request-builder>
                <http:uri-param paramName="name" value="#[message.inboundProperties.'http.uri.params'.name]"/>
            </http:request-builder>
        </http:request>
	</flow>
	<flow name="get:/city/employmentagency/clients/{name}/employees:root-config">

		<http:request config-ref="Employment_Agency_AWS_Request_Configuration"
			path="/clients/{name}/employees" method="GET" doc:name="HTTP" >
            <http:request-builder>
                <http:uri-param paramName="name" value="#[message.inboundProperties.'http.uri.params'.name]"/>
            </http:request-builder>
        </http:request>
	</flow>
	<flow name="post:/city/employmentagency/clients/apply:root-config">

		<http:request config-ref="Employment_Agency_AWS_Request_Configuration"
			path="/clients/apply" method="POST" doc:name="HTTP"
			doc:description="requires parameters: username, password, companyName, phone, email" >
            <http:request-builder>
                <http:query-param paramName="name" value="#[message.inboundProperties.'http.query.params'.name]"/>
                <http:query-param paramName="phone" value="#[message.inboundProperties.'http.query.params'.phone]"/>
                <http:query-param paramName="email" value="#[message.inboundProperties.'http.query.params'.email]"/>
                <http:query-param paramName="username" value="#[message.inboundProperties.'http.query.params'.username]"/>
                <http:query-param paramName="password" value="#[message.inboundProperties.'http.query.params'.password]"/>
                <http:query-param paramName="companyName" value="#[message.inboundProperties.'http.query.params'.companyName]"/>
            </http:request-builder>
        </http:request>
	</flow>
	<flow
		name="post:/city/employmentagency/clients/{name}/hire/{id}:root-config">

		<http:request config-ref="Employment_Agency_AWS_Request_Configuration"
			path="/clients/{name}/hire/{id}" method="POST" doc:name="HTTP">
			<http:request-builder>
				<http:query-param paramName="username"
					value="#[message.inboundProperties.'http.query.params'.username]" />
				<http:query-param paramName="password"
					value="#[message.inboundProperties.'http.query.params'.password]" />
				<http:uri-param paramName="name"
					value="#[message.inboundProperties.'http.uri.params'.name]" />
				<http:uri-param paramName="id"
					value="#[message.inboundProperties.'http.uri.params'.id]" />
			</http:request-builder>
		</http:request>
		<object-to-string-transformer doc:name="Object to String" />
	</flow>
	<flow
		name="post:/city/employmentagency/clients/{name}/release/{id}:root-config">

		<http:request config-ref="Employment_Agency_AWS_Request_Configuration"
			path="/clients/{name}/release/{id}" method="POST" doc:name="HTTP">
			<http:request-builder>
				<http:query-param paramName="username"
					value="#[message.inboundProperties.'http.query.params'.username]" />
				<http:query-param paramName="password"
					value="#[message.inboundProperties.'http.query.params'.password]" />
				<http:uri-param paramName="name"
					value="#[message.inboundProperties.'http.uri.params'.name]" />
				<http:uri-param paramName="id"
					value="#[message.inboundProperties.'http.uri.params'.id]" />
			</http:request-builder>
		</http:request>
		<object-to-string-transformer doc:name="Object to String" />
	</flow>
	<flow name="get:/city/police/criminal:root-config">

		<http:request config-ref="HTTP_Request_Configuration_police"
			path="/criminals" method="GET" doc:name="HTTP" />
	</flow>
	<flow name="get:/city/hospital/patient:root-config">
		<http:request config-ref="Hospital_AWS_Request_Configuration"
			path="/contacts/patients" method="GET" doc:name="HTTP" />
	</flow>

	<flow name="get:/city/hospital/worker:root-config">
		<http:request config-ref="Hospital_AWS_Request_Configuration"
			path="/contacts/workers" method="GET" doc:name="HTTP" />
	</flow>
	<flow name="get:/city/police/worker:root-config">

		<http:request config-ref="HTTP_Request_Configuration_police"
			path="/workers" method="GET" doc:name="HTTP" />
	</flow>
	<flow name="get:/city/hospital/worker/{id}:root-config">
		<set-variable variableName="id"
			value="#[message.inboundProperties.'http.uri.params'.id]" doc:name="Variable" />
		<http:request config-ref="Hospital_AWS_Request_Configuration"
			path="/contacts" method="GET" doc:name="HTTP" />
        <json:json-to-object-transformer doc:name="JSON to Object"/>
		<component class="cityofrevature.HospitalHelper" doc:name="Java" />
        <json:object-to-json-transformer doc:name="Object to JSON"/>
	</flow>

	<flow name="get:/city/police/worker/{id}:root-config">

		<set-payload value="#[NullPayload.getInstance()]"
			doc:name="Set Payload" />
		<set-session-variable variableName="id"
			value="#[message.inboundProperties.'http.uri.params'.id]" doc:name="Session Variable" />
		<http:request config-ref="HTTP_Request_Configuration_police"
			path="workers/get/#[sessionVars.id]" method="GET" doc:name="HTTP" />
	</flow>
	<flow name="get:/city/police/criminal/{id}:root-config">
		<set-payload value="#[NullPayload.getInstance()]"
			doc:name="Set Payload" />
		<set-session-variable variableName="id"
			value="#[message.inboundProperties.'http.uri.params'.id]" doc:name="Session Variable" />
		<http:request config-ref="HTTP_Request_Configuration_police"
			path="criminals/get/#[sessionVars.id]" method="GET" doc:name="HTTP" />
	</flow>
	<flow name="get:/city/hospital/patient/{id}:root-config">
		<set-variable variableName="id"
			value="#[message.inboundProperties.'http.uri.params'.id]" doc:name="Variable" />
		<http:request config-ref="Hospital_AWS_Request_Configuration"
			path="/contacts" method="GET" doc:name="HTTP" />
        <json:json-to-object-transformer doc:name="JSON to Object"/>
		<component class="cityofrevature.HospitalHelper" doc:name="Java" />
        <json:object-to-json-transformer doc:name="Object to JSON"/>
	</flow>
	<sub-flow name="rootSub_Flow_employment_available">
		<flow-ref name="get:/city/employmentagency/available:root-config"
			doc:name="Flow Reference" />
		<http:request config-ref="Employment_Agency_AWS_Request_Configuration"
			path="/available" method="GET" doc:name="HTTP" />
		<json:json-to-object-transformer
			doc:name="JSON to Object" />
		<component class="cityofrevature.NameHelper" doc:name="Java" />
		<json:object-to-json-transformer
			doc:name="Object to JSON" />
	</sub-flow>
	<sub-flow name="rootSub_Flow_police_criminal">
		<flow-ref name="get:/city/police/criminal:root-config"
			doc:name="Flow Reference" />
		<http:request config-ref="HTTP_Request_Configuration_police"
			path="/criminals" method="GET" doc:name="HTTP" />
		<json:json-to-object-transformer
			doc:name="JSON to Object" />
		<component class="cityofrevature.NameHelper" doc:name="Java" />
		<json:object-to-json-transformer
			doc:name="Object to JSON" />
	</sub-flow>
	<sub-flow name="rootSub_Flow_police_worker">
		<flow-ref name="get:/city/police/worker:root-config"
			doc:name="Flow Reference" />
		<http:request config-ref="HTTP_Request_Configuration_police"
			path="/criminals" method="GET" doc:name="HTTP" />
		<json:json-to-object-transformer
			doc:name="JSON to Object" />
		<component class="cityofrevature.NameHelper" doc:name="Java" />
		<json:object-to-json-transformer
			doc:name="Object to JSON" />
	</sub-flow>
	<sub-flow name="rootSub_Flow_car">
		<sfdc:query config-ref="Salesforce__Basic_Authentication_john"
			query="dsql:SELECT Id, FirstName, LastName FROM Contact WHERE FirstName = '#[sessionVars.first]' AND LastName = '#[sessionVars.last]'"
			doc:name="Salesforce" />
		<component class="cityofrevature.SalesforceHelper" doc:name="Copy_of_Java" />
	</sub-flow>
	<flow name="get:/city/integration/person/{name}:root-config">
		<set-payload value="#[NullPayload.getInstance()]"
			doc:name="Set Payload" />
		<set-variable variableName="name"
			value="#[message.inboundProperties.'http.uri.params'.name]" doc:name="Variable" />
		<component class="cityofrevature.SessionVarSplitHelper"
			doc:name="Java" />
		<logger message="#[sessionVars.first], #[sessionVars.last]"
			level="INFO" doc:name="Logger" />
		<sfdc:query config-ref="Salesforce__Basic_Authentication_josh"
			query="dsql:SELECT Id, FirstName, LastName FROM Contact WHERE FirstName = '#[sessionVars.first]' AND LastName = '#[sessionVars.last]'"
			doc:name="Salesforce" />
		<component class="cityofrevature.SalesforceHelper" doc:name="Java" />
		<flow-ref name="rootSub_Flow_car" doc:name="Flow Reference" />
		<flow-ref name="rootSub_Flow_police_worker" doc:name="Flow Reference" />
		<flow-ref name="rootSub_Flow_police_criminal" doc:name="Flow Reference" />
		<flow-ref name="rootSub_Flow_employment_available" doc:name="Flow Reference" />
		<json:object-to-json-transformer
			doc:name="Object to JSON" />
	</flow>
	<flow name="post:/city/police/criminal:root-config">
		<set-property propertyName="Content-Type" value="application/json"
			doc:name="Property" />
		<object-to-string-transformer
			returnClass="java.lang.String" doc:name="Object to String" />
		<http:request config-ref="HTTP_Request_Configuration_police"
			path="/criminals/post" method="POST" doc:name="HTTP" />
		<set-payload
			value="{&#xA;&quot;message&quot;: &quot;Criminal inserted&quot;&#xA;}"
			doc:name="Set Payload" />
	</flow>
	<flow name="post:/city/hospital/patient:root-config">
		<http:request config-ref="Hospital_AWS_Request_Configuration"
			path="/contacts" method="POST" doc:name="HTTP" />
	</flow>
	<flow name="post:/city/integration/person:root-config">
		<set-property propertyName="Content-Type" value="application/json"
			doc:name="Property" />
		<sfdc:upsert config-ref="Salesforce__Basic_Authentication_josh"
			externalIdFieldName="email" type="Contact" doc:name="Salesforce">
			<sfdc:objects ref="#[payload]" />
		</sfdc:upsert>
		<set-payload value="{&#xA;  &quot;message&quot;:&quot;inserted&quot;&#xA;}"
			doc:name="Set Payload" />
	</flow>
	<flow name="post:/city/police/worker:root-config">
		<set-property propertyName="Content-Type" value="application/json"
			doc:name="Property" />
		<object-to-string-transformer
			returnClass="java.lang.String" doc:name="Object to String" />
		<http:request config-ref="HTTP_Request_Configuration_police"
			path="/workers/post" method="POST" doc:name="HTTP" />
		<set-payload
			value="{&#xA;&quot;message&quot;: &quot;Worker inserted&quot;&#xA;}"
			doc:name="Set Payload" />
	</flow>
	<flow name="post:/city/hospital/worker:root-config">
		<http:request config-ref="Hospital_AWS_Request_Configuration"
			path="/contacts" method="POST" doc:name="HTTP" />
	</flow>
	<apikit:mapping-exception-strategy
		name="root-apiKitGlobalExceptionMapping">
		<apikit:mapping statusCode="404">
			<apikit:exception
				value="org.mule.module.apikit.exception.NotFoundException" />
			<set-property propertyName="Content-Type" value="application/json"
				doc:name="Property" />
			<set-payload
				value="{ &quot;message&quot;: &quot;Resource not found&quot; }"
				doc:name="Set Payload" />
		</apikit:mapping>
		<apikit:mapping statusCode="405">
			<apikit:exception
				value="org.mule.module.apikit.exception.MethodNotAllowedException" />
			<set-property propertyName="Content-Type" value="application/json"
				doc:name="Property" />
			<set-payload
				value="{ &quot;message&quot;: &quot;Method not allowed&quot; }"
				doc:name="Set Payload" />
		</apikit:mapping>
		<apikit:mapping statusCode="415">
			<apikit:exception
				value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
			<set-property propertyName="Content-Type" value="application/json"
				doc:name="Property" />
			<set-payload
				value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }"
				doc:name="Set Payload" />
		</apikit:mapping>
		<apikit:mapping statusCode="406">
			<apikit:exception
				value="org.mule.module.apikit.exception.NotAcceptableException" />
			<set-property propertyName="Content-Type" value="application/json"
				doc:name="Property" />
			<set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }"
				doc:name="Set Payload" />
		</apikit:mapping>
		<apikit:mapping statusCode="400">
			<apikit:exception
				value="org.mule.module.apikit.exception.BadRequestException" />
			<set-property propertyName="Content-Type" value="application/json"
				doc:name="Property" />
			<set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }"
				doc:name="Set Payload" />
		</apikit:mapping>
	</apikit:mapping-exception-strategy>
</mule>
